# Pandas
Here, we use an Automobile Dataset that contains different characteristics of an automobile such as body-style, wheel-base, engine-type, price, mileage, horsepower, etc.

In [ ]:
import pandas as pd

# Load and Show the Dataset
Write a Python program to load the dataset from the `automobile.csv` file, show the data types of its columns, and also show the first 3 rows of the dataset.

## Clean the Dataset
Write a Python program to count the number of null values per each attribute. Then, remove all rows that have any missing values.

## Find the Maximum
Write a Python program to find the name of the company whose car is the most expensive one.

## Select Specific Rows
Write a Python program to show all Toyota cars whose number of cylinders are equal to four.

## Count per Category
Write a Python program to count the number of cars that each company has.

## Aggregate per Category
Write a Python program to find each company's highest car price.

## Sort by Columns
Write a Python program to sort the cars by their price, from the highest to lowest.

## Merge two Datasets
Write a Python program to merge the previous dataset with a new given dataset to add a country column to our dataset.

In [ ]:
countries = pd.DataFrame({"producer": ['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda', 
                                       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mitsubishi', 
                                       'nissan', 'porsche', 'toyota', 'volkswagen', 'volvo'],
                          "country": ["Italy", "Germany", "Germany", "US", "US", "Japan", "Japan", 
                                     "UK", "Japan", "Germany", "Japan", "Japan", "Germany", "Japan", 
                                      "Germany", "Sweden"]
                         })
countries.head()

## Apply a Function
Write a Python program that transforms the column "num-of-cylinders" from strig to integer. For example, all the "four" values in this column should be changed to 4.

## Draw a Scatter Plot
Write a Python program that draws a scatter plot to visualize the relationship between "average-mileage" and "price" attributes.

## Draw a Bar Plot
Write a Python program that draws a bar plot to visualize the average price of cars for each company.